<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/50d92f7f69.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand has-text-centered">
          <a class="navbar-item" href="index.html">
            <h1 class="title is-4">smoothiefy.</h1>
        </a>
        </div>
    
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="index.html">Home</a>
            <a class="navbar-item" href="#">About</a>
          </div>
    
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                    <button class="button is-primary"><i class="fa-brands fa-spotify"></i>&nbsp;&nbsp;&nbsp;Log In with Spotify</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    
      <section class="hero is-halfheight is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">Blends, but better.</h1>
            <h2 class="subtitle">Spotify's new <strong>Blend</strong> feature lets you make playlists with friends that combine the daily commonalities in your music tastes. With <strong>smoothiefy</strong>, we're upping the game - letting you see insights into those common songs and artists, so you can make a permanent and customised playlist where the cool songs that interest you are always there. All in one place.</h2>
            
        </div>
        </div>
      </section>
    
      <section class="section">
        <div class="container has-text-centered">
          <h1 class="title is-2">Features</h1>
          <h2 class="subtitle">What can <strong>smoothiefy</strong> do?</h2>

          <p>To be added.</p>
        </div>
      </section>
    
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>smoothiefy.</strong> Made with love by @lightspeedana on GitHub.
          </p>
        </div>
      </footer>
    
    </body>
    